:root {
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Open sans", sans-serif;
  --default-text-color: #dbd8e3;
  --default-border-color: #5c5470;
}

body {
  background-color: #2a2438;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  text-align: center;
  background: var(--default-background-color);

  color: var(--default-text-color);
  font-family: var(--heading-font-family);
  padding: 25px;
  margin: 15px;
  border: 5px solid;
  border-color: var(--default-border-color);
}

.hero h2 {
  font-size: large;
  font-family: var(--default-font-family);
  font-size: 25px;
}

.directory {
  margin: 15px;
  font-family: var(--default-font-family);
  border: 5px solid;
  border-color: var(--default-border-color);
  text-align: center;
  color: var(--default-text-color);
}

.directory h1 {
  font-family: var(--heading-font-family);
  font-size: 25px;
  text-align: center;
  padding: 15px;
}

button {
  font-size: 20px;
  background-color: transparent;
  color: #4671c6;
  margin-top: 5px;
  border: solid white 5px;
}

.about-directory {
  border: 5px solid;
  padding: 25px;
  margin: 15px;
  background: var(--default-background-color);
  border-color: var(--default-border-color);
  font-family: var(--heading-font-family);
}

.about-directory h1 {
  font-size: 25px;
}

p {
  font-family: var(--default-font-family);
  font-size: 23px;
}

.mom {
  padding: 15px;
  margin: 15px;
}
