:root {
  --heading-font-family: "Julius Sans One", sans-serif;
  --default-font-family: "Crimson Text", serif;
  --default-text-color: #dcdad9;
}

.hero {
  text-align: center;
  background-color: #293f3f;
  color: var(--default-text-color);
  font-family: var(--heading-font-family);
  padding: 25px;
  margin: 15px;
}

.hero h2 {
  font-size: large;
}
