:root {
  --default-font-family: "Comfortaa", cursive;
  --default-text-color: white;
  --default-border-color: #f8f3ef;
}

body {
  background-color: #f2ded7;
}

.navbar-custom {
  background-color: var(--default-border-color);
  font-family: var(--default-font-family);
}

.navbar-brand {
  color: #6f8e88;
  border: solid 2px #6f8e88;
  border-radius: 15px;
  padding: 10px;
}

.navbar-toggler {
  color: #6f8e88;
}

.nav-link {
  color: #6f8e88;
}

.hero {
  text-align: left;
  color: var(--default-text-color);
  font-family: var(--default-font-family);
  padding: 25px;
  margin: 15px;
  border: 5px solid;
  border-radius: 15px;
  border-color: var(--default-border-color);
  background-color: #6f8e88;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 20px;
}

.directory {
  margin: 15px;
  font-family: var(--default-font-family);
  border: 5px solid;
  border-radius: 15px;
  border-color: var(--default-border-color);
  text-align: center;
  color: var(--default-text-color);
  padding: 10px;
  background-color: #efc5b9;
}

.directory h1 {
  font-family: var(--default-font-family);
  font-size: 25px;
  text-align: center;
  padding: 15px;
}

.portfolio-button {
  font-size: 15px;
  background-color: transparent;
  color: var(--default-text-color);
  margin-top: 5px;
  border: solid var(--default-border-color) 2px;
  border-radius: 15px;
  padding: 10px;
}

.about-directory {
  border: 5px solid;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  background: #dbcfc3;
  border-color: var(--default-border-color);
  font-family: var(--default-font-family);
  color: var(--default-text-color);
}

p {
  font-family: var(--default-font-family);
  font-size: 15px;
}

.mom {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  border: solid 2px var(--default-border-color);
}

.footer {
  border: solid var(--default-border-color) 5px;
  border-radius: 15px;
  background-color: #6f8e88;
  margin: 15px;
  text-align: center;
  padding: 10px;
  position: static;
  left: 0%;
  bottom: 0%;
  width: 95%;
}

.about-h2 {
  text-align: left;
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  font-size: 18px;
}

.about-p {
  text-align: left;
  font-family: var(--default-font-family);
  color: #6f8e88;
}

.about-info {
  border: var(--default-border-color) 5px solid;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  background-color: #efc5b9;
}

.certificate {
  border: var(--default-border-color) 5px solid;
  border-radius: 15px;
  margin: 15px;
  padding: 25px;
  background-color: #dbcfc3;
}

.cert {
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
  margin: auto;
  display: block;
  padding: 5px;
  width: 250px;
}

h3 {
  text-align: center;
  color: var(--default-text-color);
  font-family: var(--default-font-family);
  font-size: 30px;
}

.dictionary-h1 {
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  padding: 25px;
  margin: 15px;
}

.content-h1 {
  text-align: center;
  font-family: var(--default-font-family);
  color: #6f8e88;
  padding: 25px;
  margin: 15px;
}

.work {
  margin: auto;
  display: block;
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  border: var(--default-border-color) 5px solid;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  background-color: #efc5b9;
}

.content-p {
  text-align: left;
  font-size: 14px;
}

.contact {
  text-align: center;
  border: var(--default-border-color) 5px solid;
  margin: 15px;
  padding: 25px;
  border-radius: 15px;
  background-color: #efc5b9;
  font-family: var(--default-font-family);
  color: var(--default-text-color);
  font-size: 18px;
  line-height: 45px;
}

.footer-contact {
  border: solid var(--default-border-color) 5px;
  border-radius: 15px;
  background-color: #6f8e88;
  margin: 15px;
  text-align: center;
  padding: 10px;
  position:sticky
  left: 0%;
  bottom: 0%;
  width: 95%;
}
